---

name: Static Tests
# yamllint disable-line rule:truthy
on: [pull_request]

jobs:
  yamllint:
    runs-on: ubuntu-latest
    container: python:3.11-bookworm
    steps:
      - uses: actions/checkout@v5

      - name: Install Pip requirements
        run: pip install -r requirements.txt

      - name: Run YAMLLint
        run: yamllint .

  python-ruff:
    runs-on: ubuntu-latest
    container: python:3.11-bookworm
    steps:
      - uses: actions/checkout@v5

      - name: Install Ruff.
        run: pip install -r requirements.txt

      - name: Check linting.
        run: ruff --verbose check .

      - name: Check formatting.
        run: ruff --verbose format .


  # FIXME: We should be generating coverage reports, etc.
  #
  python-unit:
    runs-on: ubuntu-latest
    container: python:3.11-bookworm
    steps:
      - uses: actions/checkout@v5

      - name: Install Pip requirements
        run: pip install -r requirements.txt

      - name: Run unittests
        run: python3 -m unittest
